<a href="https://colab.research.google.com/github/Beatriz-Yun/bigDataAnalysis/blob/main/%EB%8D%B0%EC%9D%B4%ED%84%B0%EB%B6%84%EC%84%9D%EC%A0%88%EC%B0%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!git clone https://github.com/7ieon/bigData.git

Cloning into 'bigData'...
remote: Enumerating objects: 13, done.
remote: Counting objects: 100% (13/13), done.
remote: Compressing objects: 100% (13/13), done.
remote: Total 13 (delta 0), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (13/13), done.

## 데이터 분석 절차

1. 데이터 준비하기
2. 데이터 관찰하고 가공하기
3. 데이터 분리하기
4. 학습시키고 평가하기
5. 결과 출력하고 저장하기

### 데이터 준비하기 (Load)

In [2]:
import pandas as pd

data = pd.read_csv('/content/bigData/mtcars.csv')

In [3]:
print(data.head())

          Unnamed: 0   mpg  cyl   disp   hp  ...   qsec  vs      am  gear carb
0          Mazda RX4  21.0  6.0  160.0  110  ...  16.46   0  manual     4    4
1      Mazda RX4 Wag  21.0  6.0  160.0  110  ...  17.02   0  manual     4    4
2         Datsun 710  22.8  4.0  108.0   93  ...  18.61   1  manual     4    1
3     Hornet 4 Drive  21.4  6.0  258.0  110  ...   0.10   1    auto     3    1
4  Hornet Sportabout  18.7  8.0  360.0  175  ...  17.02   0    auto     3    2

[5 rows x 12 columns]

In [4]:
print(data.shape)

(32, 12)

In [5]:
print(type(data))

<class 'pandas.core.frame.DataFrame'>

In [6]:
print(data.columns)

Index(['Unnamed: 0', 'mpg', 'cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs',
       'am', 'gear', 'carb'],
      dtype='object')

In [7]:
print(data.describe())    # 기초통계량(데이터개수, 평균, 표준편차, 최솟값, 사분위수, 최댓값)

             mpg        cyl        disp  ...        qsec         vs     carb
count  32.000000  30.000000   32.000000  ...   31.000000  32.000000  32.0000
mean   20.090625   7.600000  230.721875  ...   19.866774   0.437500   2.8125
std     6.026948   8.194195  123.938694  ...   15.310469   0.504016   1.6152
min    10.400000   4.000000   71.100000  ...    0.100000   0.000000   1.0000
25%    15.425000   4.000000  120.825000  ...   16.785000   0.000000   2.0000
50%    19.200000   6.000000  196.300000  ...   17.600000   0.000000   2.0000
75%    22.800000   8.000000  326.000000  ...   18.755000   1.000000   4.0000
max    33.900000  50.000000  472.000000  ...  100.000000   1.000000   8.0000

[8 rows x 9 columns]

In [8]:
print(data['hp'].describe())    # 특정 열에 대한 기초통계량

count     32.000000
mean     146.687500
std       68.562868
min       52.000000
25%       96.500000
50%      123.000000
75%      180.000000
max      335.000000
Name: hp, dtype: float64

In [9]:
print(data['am'].unique())

['manual' 'auto']

In [10]:
print(data['gear'].unique())

['4' '3' '*3' '5' '*5']

In [11]:
print(data['vs'].unique())

[0 1]

In [13]:
print(data.info())    # 요약정보 (전체데이터크기, Null값의 개수) --> 범주형/수치형 변수 예상 가능

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  32 non-null     object
 1   mpg         32 non-null     float64
 2   cyl         30 non-null     float64
 3   disp        32 non-null     float64
 4   hp          32 non-null     int64
 5   drat        32 non-null     float64
 6   wt          32 non-null     float64
 7   qsec        31 non-null     float64
 8   vs          32 non-null     int64
 9   am          32 non-null     object
 10  gear        32 non-null     object
 11  carb        32 non-null     int64
dtypes: float64(6), int64(3), object(3)
memory usage: 3.1+ KB
None

In [14]:
print(data.corr())    # 상관관계 --> 분석대상에 포함할 변수를 판단, 데이터의 특징을 이해하는 과정에 이용

           mpg       cyl      disp  ...      qsec        vs      carb
mpg   1.000000 -0.460227 -0.847551  ...  0.013668  0.664039 -0.550925
cyl  -0.460227  1.000000  0.544876  ... -0.012755 -0.323960  0.239980
disp -0.847551  0.544876  1.000000  ...  0.181810 -0.710416  0.394977
hp   -0.776168  0.323293  0.790949  ...  0.010807 -0.723097  0.749812
drat  0.681172 -0.372671 -0.710214  ... -0.120283  0.440278 -0.090790
wt   -0.867659  0.533690  0.887980  ...  0.093900 -0.554916  0.427606
qsec  0.013668 -0.012755  0.181810  ...  1.000000 -0.112146 -0.120312
vs    0.664039 -0.323960 -0.710416  ... -0.112146  1.000000 -0.569607
carb -0.550925  0.239980  0.394977  ... -0.120312 -0.569607  1.000000

[9 rows x 9 columns]

#### 종속변수와 독립변수 분리하기

실제 시험에서는 종속변수와 독립변수를 명확히 정해주므로, 종속변수 결정에 대한 고민은 하지 않아도 됨.

<br>

예제 데이터에서 연속형 변수인 mpg열을 종속변수, 그 외의 열들을 독립변수로 구성한다.

In [15]:
X = data.drop(columns='mpg')
Y = data['mpg']

In [16]:
print(X.head())

          Unnamed: 0  cyl   disp   hp  drat  ...   qsec  vs      am gear carb
0          Mazda RX4  6.0  160.0  110  3.90  ...  16.46   0  manual    4    4
1      Mazda RX4 Wag  6.0  160.0  110  3.90  ...  17.02   0  manual    4    4
2         Datsun 710  4.0  108.0   93  3.85  ...  18.61   1  manual    4    1
3     Hornet 4 Drive  6.0  258.0  110  3.08  ...   0.10   1    auto    3    1
4  Hornet Sportabout  8.0  360.0  175  3.15  ...  17.02   0    auto    3    2

[5 rows x 11 columns]

In [17]:
print(X.columns)

Index(['Unnamed: 0', 'cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs', 'am',
       'gear', 'carb'],
      dtype='object')

In [18]:
print(Y.head())

0    21.0
1    21.0
2    22.8
3    21.4
4    18.7
Name: mpg, dtype: float64

### 데이터를 관찰하고 가공하기 (전처리)

독립변수 X를 자세히 뜯어보고 관찰 후, 주어진 데이터를 보다 잘 표현할 수 있는 형태로 변형할 것이다. <br>
=> 피쳐 엔지니어링(feature engineering)

<br>

수많은 전처리 작업 중 주로 사용하는 몇가지들
- 필요하지 않은 열 삭제
- 누락된 값 채우거나 삭제
- 잘못된 값 수정
- 이상치 조정
- 각 열들의 숫자값을 동일한 범위의 숫자로 변경(정규화)
- 적절한 데이터타입으로 변환
- 문자로 구성된 범주형 데이터를 숫자형으로 변경
- 분석에 필요한 새로운 열을 생성

<br>

> 이밖에도 다른 전처리 방법, 피처 엔지니어링 방법(비닝, 로그 변환 등)이 있으나, 시각화없이 **단순한 전처리** 작업들만으로 합격하기 충분한 수준임.

#### 1.불필요한 열 삭제하기

In [19]:
print(X.head())

          Unnamed: 0  cyl   disp   hp  drat  ...   qsec  vs      am gear carb
0          Mazda RX4  6.0  160.0  110  3.90  ...  16.46   0  manual    4    4
1      Mazda RX4 Wag  6.0  160.0  110  3.90  ...  17.02   0  manual    4    4
2         Datsun 710  4.0  108.0   93  3.85  ...  18.61   1  manual    4    1
3     Hornet 4 Drive  6.0  258.0  110  3.08  ...   0.10   1    auto    3    1
4  Hornet Sportabout  8.0  360.0  175  3.15  ...  17.02   0    auto    3    2

[5 rows x 11 columns]

In [20]:
X = X.iloc[:, 1:]    # 첫 번째 열 제거

In [21]:
print(X.head())

   cyl   disp   hp  drat     wt   qsec  vs      am gear  carb
0  6.0  160.0  110  3.90  2.620  16.46   0  manual    4     4
1  6.0  160.0  110  3.90  2.875  17.02   0  manual    4     4
2  4.0  108.0   93  3.85  2.320  18.61   1  manual    4     1
3  6.0  258.0  110  3.08  3.215   0.10   1    auto    3     1
4  8.0  360.0  175  3.15  3.440  17.02   0    auto    3     2

#### 2.결측값 처리하기

In [23]:
print(X.isnull().sum())    # 각 열에 있는 결측치 개수 세기

cyl     2
disp    0
hp      0
drat    0
wt      0
qsec    1
vs      0
am      0
gear    0
carb    0
dtype: int64

In [24]:
X_cyl_mean = X['cyl'].mean()    # 특정 열 값들의 평균

print(X_cyl_mean)

7.6

In [27]:
X['cyl'] = X['cyl'].fillna(X_cyl_mean)    # 평균값으로 결측치 채우기

In [28]:
print(X.isnull().sum())    # 'cyl'열에 결측치 제거됨.

cyl     0
disp    0
hp      0
drat    0
wt      0
qsec    1
vs      0
am      0
gear    0
carb    0
dtype: int64

In [29]:
X_qsec_median = X['qsec'].median()    # 특정 열 값들의 중위값

print(X_qsec_median)

17.6

In [30]:
X['qsec'] = X['qsec'].fillna(X_qsec_median)    # 중위값으로 결측치 채우기

In [32]:
print(X.isnull().sum())    # 결측치 모두 제거됨

cyl     0
disp    0
hp      0
drat    0
wt      0
qsec    0
vs      0
am      0
gear    0
carb    0
dtype: int64

#### 3.잘못된 값을 올바르게 바꾸기

In [33]:
print(X['gear'].unique())

['4' '3' '*3' '5' '*5']

In [34]:
print(X['gear'].replace('*3','3').replace('*5','5'))

0     4
1     4
2     4
3     3
4     3
5     3
6     3
7     4
8     4
9     4
10    4
11    3
12    3
13    3
14    3
15    3
16    3
17    4
18    4
19    4
20    3
21    3
22    3
23    3
24    3
25    4
26    5
27    5
28    5
29    5
30    5
31    4
Name: gear, dtype: object

In [35]:
X['gear'] = X['gear'].replace('*3','3').replace('*5','5')    # replace한 결과를 원하는 열에 저장

In [36]:
print(X['gear'].unique())

['4' '3' '5']

#### 4.이상값 처리하기

- 이상값 처리는 데이터 스케일링보다 선행되어야 한다. 데이터 스케일링 이후에 이상값을 처리하면 데이터 분포가 왜곡되거나 데이터 스케일링 수행이 다시 필요할 수 있다.
- 이상값 처리 방식 중 다른 값으로 교체하는 것을 추천! 최종 제출해야하는 결과 개수가 달라지기 때문.

##### 방법1. 사분범위(IQR) 활용

- 최소경계값 = Q1 - 1.5*IQR
- 최대경계값 = Q3 + 1.5*IQR

In [37]:
X_describe = X.describe()    # 기초통계량 저장

print(X_describe)

             cyl        disp          hp  ...        qsec         vs     carb
count  32.000000   32.000000   32.000000  ...   32.000000  32.000000  32.0000
mean    7.600000  230.721875  146.687500  ...   19.795938   0.437500   2.8125
std     7.925459  123.938694   68.562868  ...   15.066831   0.504016   1.6152
min     4.000000   71.100000   52.000000  ...    0.100000   0.000000   1.0000
25%     4.000000  120.825000   96.500000  ...   16.827500   0.000000   2.0000
50%     6.000000  196.300000  123.000000  ...   17.600000   0.000000   2.0000
75%     8.000000  326.000000  180.000000  ...   18.682500   1.000000   4.0000
max    50.000000  472.000000  335.000000  ...  100.000000   1.000000   8.0000

[8 rows x 8 columns]

In [38]:
print(X_describe.loc['75%'], X_describe.loc['25%'])    # 3사분위수와 1사분위수

cyl       8.0000
disp    326.0000
hp      180.0000
drat      3.9200
wt        3.6100
qsec     18.6825
vs        1.0000
carb      4.0000
Name: 75%, dtype: float64 cyl       4.00000
disp    120.82500
hp       96.50000
drat      3.08000
wt        2.58125
qsec     16.82750
vs        0.00000
carb      2.00000
Name: 25%, dtype: float64

In [39]:
X_iqr = X_describe.loc['75%'] - X_describe.loc['25%']

print(X_iqr)    # 사분범위(IQR)

cyl       4.00000
disp    205.17500
hp       83.50000
drat      0.84000
wt        1.02875
qsec      1.85500
vs        1.00000
carb      2.00000
dtype: float64

In [41]:
print(X_describe.loc['75%'] + 1.5*X_iqr)    # 최댓값 경계

cyl      14.000000
disp    633.762500
hp      305.250000
drat      5.180000
wt        5.153125
qsec     21.465000
vs        2.500000
carb      7.000000
dtype: float64

In [42]:
print(X_describe.loc['max'])    # 최댓값 확인  --> 'cyl','hp','qsec','carb'열에 이상치 존재함.

cyl      50.000
disp    472.000
hp      335.000
drat      4.930
wt        5.424
qsec    100.000
vs        1.000
carb      8.000
Name: max, dtype: float64

In [44]:
print(X.loc[X['cyl']>14])    # 'cyl'열의 이상치 출력

     cyl   disp   hp  drat    wt   qsec  vs    am gear  carb
14  50.0  472.0  205  2.93  5.25  17.98   0  auto    3     4

In [45]:
X.loc[14, 'cyl'] = 14    # index:14, column:'cyl'인 데이터에 최대 경계값 14로 대치

print(X.loc[14, 'cyl'])

14.0

In [47]:
print(X.loc[X['hp']>305.25])

    cyl   disp   hp  drat    wt  qsec  vs      am gear  carb
30  8.0  301.0  335  3.54  3.57  14.6   0  manual    5     8

In [48]:
X.loc[30, 'hp'] = 305.25    # (14, 'hp')데이터에 최대 경계값 305.25로 대치

print(X.loc[30, 'hp'])

305.25

In [49]:
print(X_describe.loc['25%'] - 1.5*X_iqr)    # 최소 경계값

cyl      -2.000000
disp   -186.937500
hp      -28.750000
drat      1.820000
wt        1.038125
qsec     14.045000
vs       -1.500000
carb     -1.000000
dtype: float64

In [50]:
print(X_describe.loc['min'])    # 최솟값 확인 --> 'qsec'에 이상치 존재함.

cyl      4.000
disp    71.100
hp      52.000
drat     2.760
wt       1.513
qsec     0.100
vs       0.000
carb     1.000
Name: min, dtype: float64

##### 방법2. 평균과 표준편차 활용

- 최소 경계값 = 평균 - 1.5*표준편차
- 최대 경계값 = 평균 - 1.5*표준편차

In [54]:
# 이상치의 인덱스를 반환하는 함수
def outlier(data, column):
  mean = data[column].mean()
  std = data[column].std()
  lowest = mean - 1.5*std
  highest = mean + 1.5*std
  print('최소경계값: ', lowest, '최대경계값: ', highest)
  
  outlier_index = data[column][(data[column]<lowest)|(data[column]>highest)].index
  return outlier_index

In [55]:
print(outlier(X, 'qsec'))

최소경계값:  -2.8043094560577657 최대경계값:  42.39618445605777
Int64Index([24], dtype='int64')

In [58]:
print(X.loc[24, 'qsec'])    # 이상치 확인

100.0

In [60]:
X.loc[24, 'qsec'] = 42.396    # 이상치를 최대경계값으로 대치

print(X.loc[24, 'qsec'])

42.396

In [61]:
print(outlier(X, 'carb'))

최소경계값:  0.3897000335522218 최대경계값:  5.235299966447778
Int64Index([29, 30], dtype='int64')

In [62]:
print(X.loc[29, 'carb'])
print(X.loc[30, 'carb'])

6
8

In [70]:
outlier_carb = outlier(X, 'carb')

X.loc[outlier_carb, 'carb'] = 5.235    # 한 번에 변경

최소경계값:  0.3897000335522218 최대경계값:  5.235299966447778

In [71]:
print(X.loc[29, 'carb'])
print(X.loc[30, 'carb'])

5.235
5.235

#### 5. 데이터를 동일한 범위로 맞추기(데이터 스케일링)

- 데이터 스케일링이 필요한 이유: 머신러닝 결과가 왜곡되지 않고, 특정한 독립변수를 무시하지 않게 하기 위함.
- 데이터의 특성에 따라 모든 독립변수를 같은 범위로 스케일링하지 않는 경우가 좋은 성능을 갖는 결과를 도출할 수도 있다.

<br>

주로 사용하는 데이터 스케일링 유형
- 표준 크기변환(Standard Scaling): 평균이 0, 표준편차가 1이 되도록 변환.
- 최소-최대 크기변환(Min-Max Scaling): 최솟값이 0, 최댓값이 1이 되도록 변환.
- 로버스트 크기변환(Robust Scaling): 중앙값이 0, IQR이 1이 되도록 변환.

<br>
=> sklearn 라이브러리 사용

##### 방법1. 표준 크기변환(Standard Scaler)

In [72]:
from sklearn.preprocessing import StandardScaler

temp = X[['qsec']]    # 특정 열만 추출

In [73]:
scaler = StandardScaler()    # scaler객체 생성

print(scaler.fit_transform(temp))    # fit_transform함수로 크기변환

[[-2.73145534e-01]
 [-1.73549067e-01]
 [ 1.09233759e-01]
 [-3.18278518e+00]
 [-1.73549067e-01]
 [ 3.95573602e-01]
 [-3.83413051e-01]
 [ 3.56446419e-01]
 [ 8.72213838e-01]
 [ 5.41000006e-02]
 [-7.03955833e-02]
 [-1.05965750e-01]
 [-7.03955833e-02]
 [ 7.44750368e-04]
 [-2.81226632e-03]
 [-3.12683998e-02]
 [-1.02408733e-01]
 [ 2.62185477e-01]
 [ 9.32271841e-02]
 [ 3.38661335e-01]
 [ 3.58224927e-01]
 [-2.00226692e-01]
 [-1.23750834e-01]
 [-4.59888910e-01]
 [ 4.33959370e+00]
 [ 1.60810501e-01]
 [-2.30461334e-01]
 [-1.94891167e-01]
 [-6.21733169e-01]
 [-4.43882335e-01]
 [-6.03948086e-01]
 [ 1.07455251e-01]]